<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="home.component.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Your Fitness App!</h1>
            <div class="category-list">
              <div class="category" *ngFor="let category of categories">
                <h2>{{ category.name }}</h2>
                <div class="fitness-types">
                  <div class="fitness-type" *ngFor="let fitnessType of category.fitnessTypes">
                    <h3>{{ fitnessType }}</h3>
                    <!-- You can add more details for each fitness type here -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </body>
</html>
